
<div data-ng-controller="dashboard as vm" class="ms-Grid">
    
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm1 ms-u-md ms-u-lg1" >

        </div>
        <div class="ms-Grid-col ms-u-sm3 ms-u-md3 ms-u-lg3" style="text-align:right">
            <uif-label>Site collection</uif-label>
        </div>

        <div class="ms-Grid-col ms-u-sm8 ms-u-md8 ms-u-lg8">
            <uif-dropdown ng-model="vm.site.path.Value" ng-change="vm.getSubsites(vm.site.path.Value);">
                <uif-dropdown-option value="{{site.path.Value}}"
                                     ng-repeat="(key, site) in vm.sites"
                                     title="{{site.path.Value}}">{{site.title.Value}}</uif-dropdown-option>
            </uif-dropdown>
        </div>
    </div>

    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm1 ms-u-md ms-u-lg1"  >

        </div>
        <div class="ms-Grid-col ms-u-sm3 ms-u-md3 ms-u-lg3" style="text-align:right">
            <uif-label>Subsite</uif-label>
        </div>

        <div class="ms-Grid-col ms-u-sm8 ms-u-md8 ms-u-lg8">
            <uif-dropdown ng-model="vm.subsite.path" ng-change="vm.getLists(vm.subsite.path);">
                <uif-dropdown-option value="{{subsite.path}}"
                                     ng-repeat="(key, subsite) in vm.subsites"
                                     title="{{subsite.path}}">{{subsite.title}}</uif-dropdown-option>
            </uif-dropdown>
        </div>
    </div>
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm1 ms-u-md ms-u-lg1">

        </div>
        <div class="ms-Grid-col ms-u-sm3 ms-u-md3 ms-u-lg3" style="text-align:right">
            <uif-label>List</uif-label>
        </div>

        <div class="ms-Grid-col ms-u-sm8 ms-u-md8 ms-u-lg8">
            <uif-dropdown ng-model="vm.list.path" ng-change="vm.getListProperties(vm.list.title);">
                <uif-dropdown-option value="{{list.path}}" 
                                     ng-repeat="(key, list) in vm.lists"
                                     title="{{list.path}}">{{list.title}}</uif-dropdown-option>
            </uif-dropdown>
        </div>
    </div>
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
            <br /><br />
            <uif-table uif-table-type="fixed">
                <uif-table-head>
                    <uif-table-row>
                        <uif-table-header uif-order-by="fileName" style="width:20px">Edit</uif-table-header>
                        <uif-table-header>Value</uif-table-header>
                        <uif-table-header uif-order-by="modified">Property</uif-table-header>
                        <uif-table-header uif-order-by="type" style="width:20px">Delete</uif-table-header>
                    </uif-table-row>
                </uif-table-head>
                <uif-table-body>
                    <uif-table-row ng-repeat="(key, value)  in vm.properties">
                        <uif-table-cell style="width:20px;vertical-align: text-top;;cursor:pointer;text-align:center"><img src="/_layouts/15/images/edit.GIF" /></uif-table-cell>
                        <uif-table-cell style="vertical-align: text-top;word-wrap:break-word;">{{key}}</uif-table-cell>
                        <uif-table-cell style="vertical-align: text-top;word-wrap:break-word; width: 300px">{{value}}</uif-table-cell>
                        <uif-table-cell style="vertical-align: text-top;width:20px;cursor:pointer;text-align:center"><img src="/_layouts/15/images/delete.GIF" /></uif-table-cell>

                    </uif-table-row>
                </uif-table-body>
            </uif-table>
        </div>
    </div>



</div>
