
<div data-ng-controller="dashboard as vm" class="ms-Grid" style="margin-bottom:100px">

    <div class="ms-Grid-row">

        <div class="ms-Grid-col ms-u-sm2 ms-u-md2 ms-u-lg2">
            <uif-label>Site collection</uif-label>
        </div>

        <div class="ms-Grid-col ms-u-sm10 ms-u-md10 ms-u-lg10">
            <uif-dropdown ng-model="vm.site" ng-change="vm.getSubsites(vm.site);" id="ddSite">
                <uif-dropdown-option value="{{site.path.Value}}"
                                     ng-repeat="(key, site) in vm.sites"
                                     title="{{site.path.Value}}">{{site.title.Value}}</uif-dropdown-option>
            </uif-dropdown>
        </div>
    </div>

    <div class="ms-Grid-row" ng-show="vm.subsites.length > 1">

        <div class="ms-Grid-col ms-u-sm2 ms-u-md2 ms-u-lg2">
            <uif-label>Subsite</uif-label>
        </div>

        <div class="ms-Grid-col ms-u-sm10 ms-u-md10 ms-u-lg10">
            <uif-dropdown ng-model="vm.subsite" ng-change="vm.getLists(vm.subsite);" id="ddSubsite">
                <uif-dropdown-option value="{{subsite.path}}"
                                     ng-repeat="(key, subsite) in vm.subsites"
                                     title="{{subsite.path}}">{{subsite.title}}</uif-dropdown-option>
            </uif-dropdown>
        </div>
    </div>
    <div class="ms-Grid-row" ng-show="vm.site">

        <div class="ms-Grid-col ms-u-sm2 ms-u-md2 ms-u-lg2">
            <uif-label>List</uif-label>
        </div>

        <div class="ms-Grid-col ms-u-sm10 ms-u-md10 ms-u-lg10">
            <uif-dropdown ng-model="vm.listname" ng-change="vm.getListProperties(vm.listname);" id="ddList">
                <uif-dropdown-option value="{{list.title}}"
                                     ng-repeat="(key, list) in vm.lists"
                                     title="{{list.title}}">{{list.title}}</uif-dropdown-option>
            </uif-dropdown>
        </div>
    </div>

    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
            <h4 ng-show="!vm.subsite && !vm.listname && vm.site">
                Properties for site: <uif-link ng-href="vm.site">{{vm.site}}</uif-link>
            </h4>
            <h4 ng-show="vm.subsite && !vm.listname && vm.site">
                Properties for subsite: <uif-link ng-href="vm.subsite">{{vm.subsite}}</uif-link>
            </h4>
            <h4 ng-show="vm.listname">
                Properties for list: <b>  {{vm.listname}} </b>
                <lable ng-show="!vm.subsite && vm.site">site: <uif-link ng-href="vm.site">{{vm.site}}</uif-link>  </lable>
                <lable ng-show="vm.subsite && vm.site">subsite: <uif-link ng-href="vm.subsite">{{vm.subsite}}</uif-link> </lable>
            </h4>

        </div>
    </div>

    <div class="ms-Grid-row" ng-show="vm.site">
        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
            <div style="padding-top:15px;padding-bottom:20px;cursor:pointer" ng-click="vm.openDialog()">
                <i class="ms-Icon ms-Icon--plus" style="font-size:24px"></i>  New Property
            </div>
            <uif-table uif-table-type="fixed">
                <uif-table-head>
                    <uif-table-row>
                        <uif-table-header uif-order-by="fileName" style="width:20px">Edit</uif-table-header>
                        <uif-table-header>Property</uif-table-header>
                        <uif-table-header uif-order-by="modified">Value</uif-table-header>
                        <uif-table-header uif-order-by="type" style="width:20px">Delete</uif-table-header>
                    </uif-table-row>
                </uif-table-head>
                <uif-table-body>
                    <uif-table-row ng-repeat="(key, value)  in vm.properties " ng-if="$index > 0">
                        <uif-table-cell style="width:20px;vertical-align: text-top;cursor:pointer;text-align:center" ng-click="vm.openDialog(key,value)"><i class="ms-Icon ms-Icon--editBox" style="font-size:24px"></i></uif-table-cell>
                        <uif-table-cell style="vertical-align: text-top;word-wrap:break-word;">{{key}}</uif-table-cell>
                        <uif-table-cell style="vertical-align: text-top;word-wrap:break-word; width: 300px">{{value}}</uif-table-cell>
                        <uif-table-cell style="vertical-align: text-top;width:20px;cursor:pointer;text-align:center"><i class="ms-Icon ms-Icon--trash" style="font-size:24px"></i> </uif-table-cell>

                    </uif-table-row>
                </uif-table-body>
            </uif-table>
        </div>
    </div>
    <uif-dialog uif-close="false" uif-overlay="dark" uif-type="multiline" ng-show="vm.showDialog">
        <uif-dialog-header>
            <p class="ms-Dialog-title">
                {{vm.propertyHeader}}  
            </p>
        </uif-dialog-header>
        <uif-dialog-inner>
            <uif-dialog-content>
                <uif-dialog-subtext>
                    <span>
                        Your Inbox has changed. No longer does it include favorites, it is a singular destination for your emails.
                        asdasda
                    </span>
                    <uif-icon uif-type="arrowDownLeft" />
                </uif-dialog-subtext>
                <uif-textfield uif-label="Property" ng-model="vm.propertyName" ng-disabled="vm.propertyNameDisabled" />
                <uif-textfield uif-label="Value" ng-model="vm.propertyValue" />
                <<uif-toggle uif-label-off="No" uif-label-on="Yes" ng-model="toggled">Toggle this, or not</uif-toggle>
            </uif-dialog-content>
            <uif-dialog-actions uif-position="right">
                <button class="ms-Dialog-action ms-Button ms-Button--primary" ng-click="vm.closeDialog()">
                    <span class="ms-Button-label">Cancel</span>
                </button>
                <button class="ms-Dialog-action ms-Button ms-Button--primary">
                    <span class="ms-Button-label">Save</span>
                </button>
            </uif-dialog-actions>
        </uif-dialog-inner>
    </uif-dialog>

</div>


