
body{
    overflow-y:auto;
}
#ajsApp {
    padding: 0;
}

#header {
    height: 40px;
}

#page-wrap {
    width: 1000px;
    margin: 0 auto;
    min-height:500px;
    background-color:#fff;
    padding: 4px;
}
#page-nav, #page-header{
     width: 1000px;
    margin: 0 auto;
}

#appBackground{
    background-color:#333333;
}