<div data-ng-controller="header as vm"  id="page-header">
    <div class="ms-Grid" id="header"  >
        <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg2">
            <img src="images/AppIcon.png"  style="padding:10px"  />
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10">
            <h1 style="font-size:36px">{{vm.appTitle}}</h1>
                       <p>This PropertyBag Add-In enables you to add, edit, delete and retrieve properties on sites and to view list properties. Property bags are implemented as a simple hash table of property names and values. Do not attempt to store anything in property bags unless you are sure it can be serialized.</p>  
            </div>
        </div>
    </div>
</div>