<div data-ng-controller="header as vm"  id="page-header">
    <div class="ms-Grid" id="header" style="margin:20px; ">
        <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg2">
            <img src="images/AppIcon.png" class="ms-bgColor-themePrimary" />
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10">
            <h1 style="font-size:72px">{{vm.appTitle}}</h1>
                         
            </div>
        </div>
    </div>
</div>